.heading {
    align-self: center;
    margin: 60px;
}

.heading h1 {
    font-size: 130px;
    font-family: 'Dancing Script', cursive;
    color: #D80000;
}

.heading p {
    margin-top: -30px;
    text-align: right;
    color: #EE1C1C;
}

