.heading {
  align-self: center;
  margin: 60px;
}

.heading h1 {
  font-size: 130px;
  font-family: "Dancing Script", cursive;
  color: #d80000;
}

.heading p {
  margin-top: -20px;
  text-align: right;
  color: #ee1c1c;
}
