.heading {
    align-self: center;
    margin: 60px;
}

.heading h1 {
    font-size: 110px;
    font-family: "Nerko One";
    color:#D80000;
}

.heading p {
    margin-top: -30px;
    text-align: right;
    color:#EE1C1C;
}